[alias]
  config-public = !git config user.name \"domaindrivendev\" && git config user.email domaindrivendev@gmail.com
  l = !git log --pretty=format:'%C(red)%h%Creset - %s %C(green)%ar%Creset %C(bold blue)<%an>%Creset' --abbrev-commit

[branch]
  autosetuprebase = always

[core]
  editor = vim

[user] 
  name = {{ git_global_name }}
  email = {{ git_global_email }}

[push]
  default = current
